
  body {
    margin: 0;
    background-image: url("../images/career1.8d14d2fb99ca.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display:flex; 
    flex-direction:column; 
  }
  

  /* Float four columns side by side */
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 20px -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    body{
      font-size:12px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:white;
  }

  .card-img-top{
     width:100%;
     height:160px;
  }
  
  @media screen and (min-width: 1100px) { 

  .cards_div{
    width:800px;
    margin-left:auto;
    margin-right:auto;
  }

  }