.main_intro{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    /* text-align: center; */
    background-color:white;
    background-image: linear-gradient(#bdc3c7 , #2c3e50);
    border-radius: 5px;
    color:white;
}

.heading{
    text-align: center;
}

.google_translate_element {
    position: relative;
    font-family: Arial;
  }
  
  .google_translate_element select {
    display: none; /*hide original SELECT element: */
  }
  
  .goog-te-combo {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .goog-te-combo:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .goog-te-combo.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.goog-te-combo {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius:5px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


